* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5ca2d7;
  color: #F2F2F2;
  font-family: Arial, sans-serif;
}
  
header {
  background-color: lightblue;
  display: flex;
  padding: 10px;
  text-align: center;
}
  
h1 {
  color:#5ca2d7;
  text-shadow: 1px 1px #302e2e;
	font-size: 35px;
	text-align: center;
	letter-spacing: .125em;
	align-self: flex-end;
}

nav {
  padding: 0;
  margin-top: 10px;
  list-style: none;
}

a {
	text-decoration: none;
	color: #5ca2d7;
	text-shadow: 1px 1px #413e3e;
	font-size: 18px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a:hover {
	text-decoration: overline;
	color: #181414;
}
  
main {
  margin: 20px;
  padding: 20px;
}

.profile-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
}

.gif {
  width: 100%;
  border-radius: 50%;
}

article {
  background-color: rgb(160, 213, 231);
  padding: 20px;
  border-radius: 10px;
}

.inspirations {
  background-color: #4d94cb;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
}

.inspirations img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
  border-radius: 10px;  
}

.favorites-list  {
  font-size: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
}

